html{
  scroll-behavior: smooth;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    background-color: rgb(13, 13, 13);
  }

/*Version Mobile-Friendly*/ 

/*Estilizado del Header*/


nav{
  font-family:'Ubuntu', sans-serif; 
  font-size: 3.5em;
  background-color: rgb(13, 13, 13);
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 0px;
  background-color: rgb(174, 11, 11);
 }

nav a{
  text-decoration-line:none ;
  color: white;
  padding: 20px;
  font-weight: bold;
}

nav a:hover{
background-color: aliceblue;
color: rgb(174, 11, 11); 

}



/*Estilizado de Section Hero*/

.hero{
    background-color: rgb(13, 13, 13);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: rgb(223, 18, 18);
    font-family: 'Rubik Mono One', sans-serif;
}

.hero h1{
    font-size: 8em;
}

.hero h2 {
    font-size: 4em;
}



/*Estilizado de Section Disciplinas*/

  /*Termina Estilizado Section Disciplinas*/
  
  /*Estilizado Section Promos*/

#promos  {
  font-family:'Ubuntu', sans-serif;
  color: white;
  min-height: 80vh;
  background-color: rgb(7, 7, 7);
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#promos h3{
  font-size: 4em;
  font-weight: bold;
  color: rgb(223, 18, 18);
}

.promos-card{
  background-color: darkred;
  width: 80%;
  height: 10%;
  text-align: center;
  border-radius: 15px;
  margin: 50px;
}

.promos-card h4{
  font-size: 3.5em;
  font-weight: bold;
  margin: 20px;
  border-bottom: 1px solid white;
}

.promos-card p{
  font-size: 3em;
  color: aliceblue;
  font-weight: bold;
}

  /*Empieza Estilizado Section Sobre Nosotros*/

.conteiner_sobrenosotros{
  font-family: 'Ubuntu', sans-serif;
  min-height: 70vh ;
  background-color: rgb(209, 12, 12);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.conteiner_sobrenosotros h5{
  font-size: 4em;
  color:aliceblue;
  margin-top: 100px;
}

.conteiner_sobrenosotros p{
  font-size: 3em;
  color: aliceblue; 
}

.historia{
  width: 100%;
  padding: 30px;
  background-color:rgb(174, 11, 11);
}

.historia img{
 width: 80%;
 border-radius: 30px
}

  /*Termina Estilizado Section Sobre Nosotros*/

  /*Empieza Estilizado Section donde encontrarnos */

  .redessociales {
    background-color: rgb(13,13,13);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .redessociales h5{
    font-size: 3.5em;
    color: rgb(223, 18, 18);
    margin-bottom: 20px;
  }



  .redessociales img{
    width: 90%;
    height: 300px;
    background-color: rgb(12,12,12);
  }

.redessociales iframe{
    width: 100%;
    height: 1000px;
}

/*Version Desktop Friendly*/

@media (min-width:700px){

  nav{    
    font-size: 1.8em;
    flex-direction: row;
    justify-content: space-evenly;
   }

  .entrenamientos{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .entrenamientos .card{
    min-width: 700px;
  }

}

